# Rust
/target
**/*.rs.bk

# devenv
.devenv/
devenv.local.nix
.devenv.flake.nix
.pre-commit-config.yaml

# nix build 输出符号链接
result
result-*

# direnv
.direnv/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
